__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis
.git
.github
.vscode
.idea
database
alerts_state.json
Dockerfile
docker-compose.yml
.env
.gitignore
README.md
